<div class="grid grid-cols-3 divide-x-4 divide-cyanfonce text-center font-croissant mt-4">
  <div>Tous droits réservés</div>
  <div>Site &copy; <a  href="https://michel.cavaud.net/" target="_blanck">Michel CAVAUD</a></div>
  <div>Design &copy; <a  href="https://michel.cavaud.net/" target="_blanck">Michel CAVAUD</a></div>
</div>