
<div class="modal hidden pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center z-60">
    <div class="modal-overlay absolute w-full h-full bg-noir opacity-70"></div>
    
    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-60 overflow-y-auto">
      
        

      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content bg-blanc py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-3xl font-bold text-cyanfonce">Connexion</p>
          <div class="modal-close cursor-pointer z-60">
            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <!--Body-->
        <form action="{{ path('security_login') }}" id="formConnexion" class="pt-6 pb-2 my-2">
            <div class="mb-4">
                <label class="block text-sm font-bold text-2xl mb-2 text-cyanfonce" for="pseudo">
                    Identifiant
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" 
                id="username" name="_username" type="text" placeholder="Identifiant">
            </div>
            <div class="mb-6">
                <label class="block text-sm font-bold text-2xl mb-2 text-cyanfonce"  for="password">
                    Mot de passe
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" 
                id="password" name="_password" type="password" placeholder="Mot de passe">
            </div>
            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button type="reset" class="modal-close px-4 p-3 rounded-lg text-cyanfonce hover:text-noir hover:bg-cyanclair">Fermer</button>
                <button type="submit" class=" px-4  p-3 rounded-lg text-cyanfonce hover:text-noir  hover:font-bold  hover:bg-cyanclair
                 hover:text-indigo-400 mr-2">Connexion</button>
            
            </div>
        </form>
      </div>
    </div>
  </div>

  