
<script>
var posRotateCard = ["rotate-1", "rotate-2", "-rotate-1", "-rotate-2"];
let widthtWindow = viewportSize().width;
if (widthtWindow < 550) {
    var posRotate = posRotateCard;
    var move = 500;
} else {
    var posRotate = ["rotate-6", "rotate-12", "-rotate-6", "-rotate-12"];
    var move = 650;
}

var posCard = 0;

var modal = document.getElementById("myModal");
var span = document.getElementsByClassName("close")[0];
var titleModal = document.querySelector(".titleModal");
var pictureModal = document.querySelector(".pictureModal");
var ingredientModal = document.querySelector(".ingredientModal");
var recipesModal = document.querySelector(".recipeModal");

var cards = document.querySelectorAll(".cards");
var cardsI = document.querySelector(".cardsI");
var keep = document.querySelector(".keep");
keep.style.cursor = "pointer";
var sweep = document.querySelector(".sweep");
sweep.style.cursor = "pointer";

var textBelow = document.querySelector(".textBelow");
var imgBelow = document.querySelector(".imgBelow");
var textUp = document.querySelector(".textUp");
var imgUp = document.querySelector(".imgUp");

var list = document.querySelector(".list");

//positionnement des cartes superposées
for (let i = 0; i < cards.length; i++) {
    cards[i].style.zIndex = i + 2;
}
cardsI.style.zIndex = 10;

arrayCards = randomize(arrayCards);
possitionCard(posCard);


keep.addEventListener("click", function () {
    arrayCards[posCard].changeValid(true);
    moveCard("+", move);
    ingredientsDisplay();
    recipeDisplay();
});

sweep.addEventListener("click", function () {
    arrayCards[posCard].changeValid(false);
    moveCard("-", move);
    ingredientsDisplay();
    recipeDisplay();
});

randomize(arrayRecipes);
recipeDisplay();


//liste dernières recettes
//localStorage.clear();
titreList = document.querySelector('.titreList');
listRecette = document.querySelector('.listRecette');
if(localStorage.getItem('recettes')){
    recetteLocal = JSON.parse(localStorage.getItem('recettes'));
    recetteLocal.forEach((recette) => {
        let li = document.createElement("li");
        li.setAttribute("id", recette.id); 
        li.setAttribute("class", 'imgRecette');
        let html =  '<div class="mx-1 tooltip">';
        html +=          '<img class="rounded" src="{{LIEN_IMAGES_RECETTES}}' + recette.nomImage + '.' + recette.extImage + '"/>';
        html += '<span class="tooltiptext">' + recette.nomRecette + '</span>'
        html +=     '</div>';
        li.innerHTML = html;
        listRecette.appendChild(li)
    });
    
    let imgRecette = document.querySelectorAll('.imgRecette')
    for (var i = 0; i < imgRecette.length; i++) {
        imgRecette[i].addEventListener("click", function () {
            window.location.href="{{ app.request.schemeAndHttpHost }}/recette/" + this.getAttribute("id");
        });
    }
}else{
    titreList.classList.toggle('hidden');
    listRecette.classList.toggle('hidden');
}


</script>